/* Estilo para los elementos de cultivo */
.crop-element {
  position: relative;
  padding: 20px;
  margin: 10px 0;
  background-color: #fff; /* Fondo blanco */
  border: 3px solid rgb(72, 61, 139); /* Borde estático */
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Estilo para el icono */
.crop-icon {
  font-size: 30px;
  margin-right: 15px;
}

.crop-name {
  font-size: 18px;
  font-weight: bold;
}

.success-rate {
  font-size: 14px;
  color: gray;
}

.success-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.success-fill {
  height: 6px;
  border-radius: 5px;
}

/* Estilo adicional para las sugerencias de cultivos */
#cropSuggestions {
  list-style-type: none;
  padding-left: 0;
}

#cropSuggestions li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
}

#cropSuggestions li:hover {
  transform: scale(1.05);
}

/* Centrar el botón de "Usar ubicación actual" en la página */
.location-btn-container {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  margin-top: 2vh;          /* Reducir el margen superior para acercar el botón al título */
}

.btn {
  width: 250px;  /* Ancho fijo para el botón */
}
